  <!-- Navigation -->
  <header>


    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
      <div class="container">
        <a class="navbar-brand font-weight-bold" routerLink="/">
          <strong>SHOP</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">

              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">

                <i class="fas fa-envelope blue-text"></i> Contact

                <span class="sr-only">(current)</span>

              </a>

            </li>

            <li class="nav-item ml-3">

              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">

                <i class="fas fa-cog blue-text"></i> Settings</a>

            </li>

            <li class="nav-item dropdown ml-3">

              <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold"
                id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <i class="fas fa-user blue-text"></i> Account </a>

              <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                <!-- Not logged in -->
                <a class="dropdown-item waves-effect waves-light" routerLink="/login">Login</a>
                <a class="dropdown-item waves-effect waves-light" routerLink="/register">Register</a>

                <!-- Logged in -->
                <a class="dropdown-item waves-effect waves-light" routerLink="#">My account</a>
                <a class="dropdown-item waves-effect waves-light" routerLink="#">Log out</a>

              </div>

            </li>

          </ul>

        </div>

      </div>

    </nav>
    <!-- Navbar -->

  </header>
  <!-- Navigation -->