<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 p-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/cms" routerLinkActive="bg-primary text-white" [routerLinkActiveOptions]="{exact:true}">
              <span data-feather="home"></span>
              Dashboard 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="orders" routerLinkActive="bg-primary text-white">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive="bg-primary text-white">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product-categories" routerLinkActive="bg-primary text-white">
              <span data-feather="users"></span>
              Product Categories
            </a>
          </li>
        </ul>

      </div>
    </nav>
  <!-- Display Messages -->
  <div *ngIf="message">
      <app-messages [message]="message" >
      </app-messages>
  </div>
  
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 my-4">
        <router-outlet></router-outlet>
    </main>
  </div>
</div>